extends layout

block content
	include ./menu.pug
	table.table.table-striped
		tr
		th Date
		th Mood
		th Entry
		th Weather

		each e in entries
			tr
			td= e.date
			td= e.mood
			td= e.entry
			td=Weather 
